alembic==1.6.5
aniso8601==9.0.1
certifi==2021.5.30
click @ file:///tmp/build/80754af9/click_1620867881259/work
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Cors @ file:///tmp/build/80754af9/flask_cors_1614875208036/work
flask-marshmallow==0.14.0
Flask-Migrate==3.0.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous @ file:///home/ktietz/src/ci/itsdangerous_1611932585308/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
Mako==1.1.4
MarkupSafe @ file:///opt/concourse/worker/volumes/live/1bcf0940-5bf8-4171-61e3-2133f5885e8b/volume/markupsafe_1621528148241/work
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.1
psycopg2==2.9.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
SQLAlchemy==1.4.19
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
